/*
	Assignment 3 Styles
*/

body {
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: cornflowerblue;
	color: white;
}
h1 {
	font-size: 40px;
}
select {
		font-family: 'Charmonman', cursive;
		background-color: orange;
}
th, table, td
{
	text-align: left;
	border: 1px solid black;
}
#phoneBox
{
	display:none;
	
}
